## Python List
- Python List falls under the compound data types i.e. they are composed of one or more basic data types.
- It means, A List is a sequence collection of different objects such as integers, strings, and even other lists as well.
- Python Lists are represented with square brackets.
  - Example: `["item1", 2, "item3", 4.0]`
- Unlike array, List can store data of multiple data types like string, integer, float, etc.
- Python Lists are also an ordered sequences.
  - It means the items have a defined order, and that order will not change.
  - If you add new items to a list, the new items will be placed at the end of the list.

- Unlike Strings, Lists are mutable meaning, we can change, add, and remove items in a list after  it is created.

- Similar to Strings, we can perform loop through items in a list.

- In this lecture we'll cover:
  - Creating Lists
  - Indexing Lists
  - Slicing Lists
  - Lists are mutable
  - List methods
  - Join Lists
  - Loop Lists
  - List Comprehension
  - List exercise

### 1. Creating Lists
- To create a list, type the list items within square brackets **[]**, separated by commas.
- Example: ["item1", 2, 'item3', 4]

- List can be categorized into 2 types:
  1. simple list:
    - Example: [1, 2, 3, 4]
  2. Nested list: 
    - They list within list.
    - Also called as 2D list.
    - Example: [[1, 2], [3, 4]]

In [15]:
# create simple list with mixed data types
x=[1,"hello",3.14,4]
print(x)

[1, 'hello', 3.14, 4]

In [16]:
# display type 
type(x)

list

In [17]:
# display length of list
# Hint: len(list)
print(len(x))

4

In [18]:
# create nested list
nested_list=[[1,2,3],["apple","orange"]]
print(nested_list)

[[1, 2, 3], ['apple', 'orange']]

In [19]:
# display type of nested list
type(nested_list)

list

In [20]:
# display length of nested list
# Hint: len() 
len(nested_list)

2

**List creation from Strings**
- use .split() method

In [21]:
# Initialize any non-empty string
#
# split string to create list

original_string="hello world! How are you today?"
#split the string to create a list
split_list=original_string.split()
print(split_list)

['hello', 'world!', 'How', 'are', 'you', 'today?']

###2. Indexing Lists
- Indexing works similar to that of Strings.
- As we know, list is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a list is called an index.
- An index is used to access and refer to items within a list.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='400'>

**positive indexing**

In [22]:
# initialize simple list of length 5
L=[1,2,3,4,5]

In [23]:
# print 1st item using positive index
print(L[0])

1

In [24]:
# print 3rd item using positive index
print(L[2])

3

In [25]:
# print last item using positive index
print(L[4])

5

`Now lets try to index nested list`

In [26]:
# initialize nested list of length 5
nested_list=[[8,9],[4,5,6],[1,2,3,4],[7,8,9],[1,9,8,9]]
print(nested_list)

[[8, 9], [4, 5, 6], [1, 2, 3, 4], [7, 8, 9], [1, 9, 8, 9]]

In [27]:
# practice indexing

print(nested_list[2][2])

3

**negative indexing**

In [28]:
# reinitialize simple list of length 5
simple_list=[[1,2],[2,3,4],[1,9,8,9],[1,8],[2,0]]
print(simple_list)

[[1, 2], [2, 3, 4], [1, 9, 8, 9], [1, 8], [2, 0]]

In [29]:
# print 1st item using negative index
print(simple_list[-5][-2])

1

In [30]:
# print 3rd item using negative index
print(simple_list[-3][-3])#paxadi ko chai list bhitra ko list ko item

9

In [31]:
# print last item using negative index
print(simple_list[-1])

[2, 0]

### 3. Slicing Lists
- Slicing Lists means extracting part of list items.
- Concepts of Slicing Lists is similar to Slicing Strings.
- `Syntax: list[start:end:step]`

  <img src='https://drive.google.com/uc?id=1j7BjHU8MmE0LFv1Qls9F-4h3NheDoLAD' width='500'>

**case 1: when step is positive**

In [32]:
# initialize simple list (refer to above example)
simple_list=[[1,9,8,9],[1,8,2,0],[9,1,3,4],[6,7,8,9],[1,2,3,4]]
print(simple_list)

[[1, 9, 8, 9], [1, 8, 2, 0], [9, 1, 3, 4], [6, 7, 8, 9], [1, 2, 3, 4]]

In [33]:
# slice first 3 items using positive index
print(simple_list[:3])

[[1, 9, 8, 9], [1, 8, 2, 0], [9, 1, 3, 4]]

In [34]:
# slice last 3 items using negative index
print(simple_list[-3:])

[[9, 1, 3, 4], [6, 7, 8, 9], [1, 2, 3, 4]]

In [35]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]
print(simple_list[1:4:2])

[[1, 8, 2, 0], [6, 7, 8, 9]]

**case 2: when step is negative**

In [36]:
# slice first 3 list items using positive index
print(simple_list[3:])

[[6, 7, 8, 9], [1, 2, 3, 4]]

In [37]:
# slice last 3 list items using negative index
print(simple_list[:-3])

[[1, 9, 8, 9], [1, 8, 2, 0]]

In [38]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']
simple_list=['s','t','r','i','n','g',' ','I','n','d','e','x','i','n']
simple_list[::-1]

['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 's']

In [39]:
print(simple_list[::-1])

['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 's']

###4. Lists are mutable
- Unlike Strings, Lists are mutable
- It means we can change list items after its creation.

In [40]:
# verify lists are mutable
mutable_list = ['hi', 'i', 'am', 'mutable']
print(mutable_list)

['hi', 'i', 'am', 'mutable']

In [41]:
# change first item 'hi' to 'hello'
mutable_list[0]="hello"
print(mutable_list)

['hello', 'i', 'am', 'mutable']

Assigning new value, we didn't got error. We can say Lists are mutable.

###5. List Methods
- Most common Lists methods are:
  - `append()`: Methods to add an item to the end of the list.
  - `insert()`: Methods to add an item to list at a specified index.
  - `extend()`: Methods to append elements from another list to the current list
  - `remove()`: Methods to remove the specified item using item name.
  - `pop()`: Methods to remove the list item using index. By Default pop takes up the last index.
  - `reverse()`: Methods to reverse list.
  - `sort()`: Methods to sort the string either in ascending order or descending order.

In [42]:
# Create a new list

list1 = [1, 2, 3, 4]
print(list1)

[1, 2, 3, 4]

In [43]:
# add new item to the end of a list
# Hint: list.append(<item>)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [44]:
# add new item at index 1 using insert()
# Hint: list1.insert(<index>, <item_to_insert>)
list1.insert(1,0)
print(list1)

[1, 0, 2, 3, 4, 5]

`If we run insert() methods multiple times, then item will be added at specified index and length of list will grow accordingly.`

In [45]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
# Hint: list1.extend(list2)
list1=[1,2,3,4]
list2=[5,6,7,8,9]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
# remove specific item from list
# Hint: list.remove(<item_name>)
list1.remove(5)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9]

In [47]:
# remove item at index 1 of list
# Hint: list1.pop(<index>)
list1.pop(0)
print(list1)

[2, 3, 4, 6, 7, 8, 9]

In [48]:
# remove last item from list
# Hint: list1.pop()
list1.pop(-1)
print(list1)

[2, 3, 4, 6, 7, 8]

In [49]:
# reverse list
# Hint: list.reverse()
list1.reverse()
print(list1)

[8, 7, 6, 4, 3, 2]

In [50]:
# sort list in ascending order
# hint: list.sort()
list1.sort()
print(list1)

[2, 3, 4, 6, 7, 8]

In [51]:
# sort list in descending order
# hint: list.sort(reverse=True)
list1.sort(reverse=True)
print(list1)

[8, 7, 6, 4, 3, 2]

### 6. Join Lists
- Given list, how can we join the list items?
- Technique to convert list to string.
- `Example:`
  - input_list = ['hello', 'world']
  - ouput_list = "hello world"

- **syntax:** `result = separator.join(<list>)

  where, separator is the string that will be used to separate the elements in the resulting string.

In [52]:
# create new list
new_list=['hello','world']
print(new_list)

['hello', 'world']

In [53]:
# join list by space to form new string
# Hint: " ".join(<list>)
string=" ".join(new_list)
print(string)

hello world

### 7. Loop Lists

- Similar to Strings, you can also loop through list items using a **for** loop.

`Q. Initialize List and print list items one by one using for loop.`

In [54]:
# create list

# loop through list items
list3=['apple','banana','grapes','strawberry']
print(list3)
for x in list3:
    print(x)

['apple', 'banana', 'grapes', 'strawberry']
apple
banana
grapes
strawberry

In [55]:
# loop through list items using enumerate()
print(list3)
list3.enumerate()
print(list3)

['apple', 'banana', 'grapes', 'strawberry']

AttributeError: 'list' object has no attribute 'enumerate'

We will experiment other ways of looping using **range()** function and **while** loop in Loop Chapter.

### 8. List Comprehension
- List comprehension offers the shortest syntax for looping through lists.
- Syntax: **newlist = [expression for item in iterable if condition == True]**


`Q.1 Write a python program to lowercase item in given list using list comprehension.`
  - Input: sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
  - Output: lower_list = ["apple", "mango", "banana", "grapes"]

`Q.2 Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.`

`Q.3 `

In [ ]:
## write your program (for Q1)
sample_list=["Apple","mango","BaNaNa","Grapes"]
print(sample_list)
sample=[x.lower() for x in sample_list]
print(sample)

['Apple', 'mango', 'BaNaNa', 'Grapes']
['apple', 'mango', 'banana', 'grapes']

In [57]:
## write your program (for Q2)
fruit_list=['apple','banana','grapes','coffee']
fruit_list.remove('coffee')
print(fruit_list)

['apple', 'banana', 'grapes']

### 9. List exercise

**Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

  `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
  `output: banana, 6`  

**Q.2 Write a python program to sum all the items in a list.**

  `sample_list: [1, 2, 3, 4, 5]`
  `output: sum = 15`


**Q.3 Write a python program to get the largest number from a list.**

  `sample_list: [10, 20, 30, 100, 40]`  
  `output: largest number = 100`


**Q.4 Write a python program to get the smallest number from a list.**

  `sample_list: [-1, 0, 1, 2]`
  `output: smallest number = -1`

**Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.**

  `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
  `output: str_count = 2`

**Q.6 Write a python program to check a list is empty or not.**

**Q.7 Write a python program to insert a given string at the beginning of all items in a list.**

  `sample_list = [1, 2, 3, 4]`  
  `str_to_inser = "emp"`  
  `output_list = ['emp1', 'emp2', 'emp3', 'emp4']`

In [73]:
#Q.1
sample_list=['mango','banana','kiwi','apple','grapes']
result=max(sample_list,key=len)
print(result,len(result))

banana 6

In [74]:
#Q.2
sample_list=[1,2,3,4,5]
x=sum(sample_list)
print(x)

15

In [79]:
#Q.3
sample_list=[10,20,30,100,40,]
x=max(sample_list)
print(x)

100

In [80]:
#Q.4
sample_list=[-1,0,1,2,]
x=min(sample_list)
print(x)

-1

In [ ]:
#Q.5
sample_list=['abc','xyz','aba','1221']

In [84]:
#Q.7
sample_list=[1,2,3,4]
string_to_insert="emp"

for i in range(len(sample_list)):
    sample_list[i] = string_to_insert + str(sample_list[i])
    print(sample_list)

['emp1', 2, 3, 4]
['emp1', 'emp2', 3, 4]
['emp1', 'emp2', 'emp3', 4]
['emp1', 'emp2', 'emp3', 'emp4']